@page
@model question2.Pages.StudentsModel
@{
    ViewData["Title"] = "Student page";
}

<h2>Form</h2>

<form>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Student ID</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Name</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">City</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
    </div>

    <div class="mb-3">
        <button type="button" class="btn btn-primary">Submit</button>
    </div>
</form>
